:root {
    --dark: #282828;
    --blue: #000066;
    --green: #009900;
    --red: #b30000;
    --grey: #666666;
}

body {
    background:
    radial-gradient(black 15%, transparent 17%) 0 0,
    radial-gradient(black 15%, transparent 17%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: var(--dark);
    background-size: 16px 16px;

    font-family: monospace;
    color: var(--dark);
    font-size: 19px;
    line-height: 24px;
    /*position: fixed;*/
}

h1 {
    text-align: center;
    font-size: 80px;
    text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    text-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5);
}

h4 {
    font-size: 24px;
    margin: 30px 0;
    padding: 0 15px;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: left;
    padding: 5px;
}

ul.hor-list li {
    display: inline-block;
    border-right: 1px solid var(--dark);
    padding: 0 3px;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    justify-content: end;
    height: 20px;
    font-family: monospace;
    color: var(--dark);
    font-size: 19px;
    line-height: 24px;
    font-style: italic;
    background-color: #e6e6e6;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    outline: 2px solid white;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 736px;
}

.screens-container {
    width: 75%;
    height: 670px;
    position: relative;
}

.online-block {
    display: flex;
    align-items: center;
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: -30px;
    color: white;
}
.online-block .online-text {padding-left: 5px;}
.online-block .online-name {
    padding-left: 5px;
    font-weight: bolder;
    color: var(--green);
}
.online-counter-block {
    display: none;
    align-items: center;
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: -30px;
    right: 0;
    color: white;
}
.online-counter-block .online-counter {
    padding-left: 5px;
    color: var(--green);
}
#active-game-marker {
    display: none;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 10px;
    padding: 0 5px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: -32px;
    left: 25%;
}

.screen {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5) inset, -4px -4px 10px 2px rgba(0, 0, 0, 0.5) inset;

    max-height: 670px;
    overflow: auto;
}

.screen-main {

}

.screen-game-creation {

}

.screen-game-list {
    justify-content: flex-start;
}

.container-game {
    display: grid;
    grid-template-columns: 100px 200px 100px 100px;
    width: 300px;
    justify-content: center;
    margin: 50px auto;
    border-left-color: #333333;
    border-right-color: #333333;
    border-left-style: solid;
    border-right-style: solid;
}

.container-list-game {
    grid-column: 2/4;
    width: 100%;
}

.item {
    border-bottom-color: #333333;
    border-bottom-style: solid;
}

.item-title {
    grid-column: 2/4;
    width: 100%;
    border-bottom-color: #333333;
    border-bottom-style: solid
}

.item-h4 {
    text-align: center;
    font-size: 26px;
    margin: 27px 0 10px 0;
}

.game-list-title {
    grid-column: 2/4;
    width: 100%;
    border-bottom-color: #333333;
    border-bottom-style: solid
}

.game-on {
    display: block;
}

.game-off {
    display: none;
}

button {
    font-family: monospace;
    font-size: 19px;
}

.btn {
    color: white;
    background-color: #333333;
    align-self: center;
    border: 2px solid white;
    border-radius: 10px;
}
.btn svg {
    margin-top: 4px;
}

.btn:hover {
    background-color: white;
    color: var(--dark);
    border-color: var(--dark);
    cursor: pointer;
    transition: 0.3s;
}

.btn:active {
    opacity: 0.6;
}

.btn-large {
    width: 200px;
    height: 50px;
}

.btn-icon {
    width: 50px;
    height: 50px;
}

.btn-home {
    background-color: var(--blue);
}

.btn-create-game {

}

.btn-join-game {

}

.btn-my-stats {

}

.btn-concede {
    border-color: var(--red);
    color: var(--red);
}
.btn-concede:hover {background-color: var(--red);}

.btn-inactive {
    background-color: var(--grey);
}

div.icon-wrapper {
    min-width: 20px;
}

.section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 15px;
}

.section-vert {
    justify-content: flex-start;
    flex-direction: column;
    min-width: 200px;
}

.section-top {
    justify-content: space-between;
}

.player {
    display: flex;
    width: 25%;
    height: 50px;
    line-height: 50px;
    border: 2px solid var(--dark);
    border-radius: 10px;
    background-color: white;
    color: var(--dark);
    opacity: 0.7;
    cursor: pointer;
}
.player:hover {
    opacity: 1;
}
.player .player-chip-icon, .player .player-ready {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .player-name {
    text-align: center;
    line-height: 50px;
    flex-basis: 60%;
}
.player-confirmed {
    background-color: white;
    color: var(--dark);
    cursor: pointer;
}
.player-active {
    background-color: var(--green);
    color: white;
    cursor: pointer;
}
.player-lost {
    background-color: var(--red);
    color: white;
    cursor: default;
}
.player-none {
    pointer-events: none;
    background: transparent;
    border-color: var(--grey);
}
#game-players-section {
    visibility: hidden;
}
.chip {
    border-radius: 50%;
    height: 95%;
    aspect-ratio: 1 / 1;
    /*self-align: center;*/
}
.chip-icon {
    height: 70%;
    opacity: 1;
}
.chip-white {
    border: 1px solid black;
    background-color: white;
}
.chip-black {
    border: 1px solid white;
    background-color: var(--dark);
}
.chip-gray {
    border: 1px solid var(--dark);
    background-color: var(--grey);
}

.time-panel {
    width: 13%;
    border-radius: 10px;
    background: white;
}
.moves-panel {
    width: 13%;
    border-radius: 10px;
    background: white;
    max-height: 500px;
    overflow-y: auto;
}
.board-wrapper {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    position: relative;
}
.board {
    width: 96%;
    height: 96%;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2px 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(204, 153, 0, 0.9);
}
.cell {
    position: relative;
    z-index: 0;

    color: white;
    font-size: 5px;
}
.cell::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: calc(100% + 4px);
    height: 2px;
    z-index: -1;
    background: var(--dark);
}
.cell::after {
    content: '';
    position: absolute;
    right: 50%;
    top: -2px;
    height: calc(100% + 4px);
    width: 2px;
    z-index: -1;
    background: var(--dark);
}
.cell-highlight {
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.axis {
    display: grid;
    position: absolute;
}
#x-axis {
    grid-template-rows: 1fr;
    grid-row-gap: 2px;
    padding: 0 2px;
    height: 4%;
    width: 96%;
    bottom: -4px;
    right: 0;
}
#y-axis {
    grid-template-columns: 1fr;
    grid-column-gap: 2px;
    padding: 2px 0;
    height: 96%;
    width: 4%;
    top: 0;
    left: -4px;
}
.axis-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.axis-cell-highlight {
    font-weight: bolder;
    text-shadow: 0 -1px 4px var(--dark), 0 -2px 10px var(--dark), 0 -10px 20px var(--dark), 0 -18px 40px var(--dark);
    color: white;
}

.move-record {
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
}
.move-record-white {
    color: var(--dark);
    background-color: white;
    border-color: var(--dark);
}
.move-record-black {
    color: white;
    background-color: black;
    border-color: black;
}
.move-record-gray {
    color: white;
    background-color: var(--grey);
    border-color: var(--dark);
}

.game-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: #e6e6e6;
    padding: 5px;
    margin: 10px 0;
}
.game-item:hover {
    background-color: white;
}

.highlight {
    font-weight: bolder;
}
.green {color: var(--green);}
.red {color: var(--red);}
.blue {color: var(--blue);}
.datetime {font-style: italic;}


.player-indicators {
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    width: 70px;
}
.indicator {
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.indicator-green {
    background-color: var(--green);
    box-shadow: 0 0 5px 2px var(--green);
}
.indicator-red {
    background-color: #ff3333;
    box-shadow: 0 0 5px 2px #ff3333;
}
.indicator-empty {
    background-color: white !important;
    box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.4) !important;
}

.btn-join {
    margin: 0 10px 0 40px;
    color: white;
    background-color: var(--blue);
    border: 0;
    align-self: center;
    width: 100px;
}

.btn-join:hover {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
    transition: 0.3s;
}

.btn-join:active {
    opacity: 0.6;
}

.btn-join:disabled {
    background-color: #b22222;
    pointer-events: none;
}
.btn-ready {
    display: none;
}
.btn-blocked {
    background-color: var(--red);
}

.mode-block {
    height: 50px;
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 10px;
    color: var(--dark);
    background-color: white;
    opacity: 0.7;
    margin: 5px;
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.mode-set {
    background-color: var(--green);
    box-shadow: 0 0 5px 2px var(--green);
    color: white;
    border-color: var(--green);
    opacity: 1;
    transition: 0.2s;
}
.mode-inactive {
    background-color: var(--red);
}
.mode-dev {
    background-color: var(--grey);
}
.mode-block:hover {
    opacity: 1;
    transition: 0.2s;
}
.mode-block .mode-name {
    flex-basis: 75%;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
}
.mode-block .mode-checkbox {
    border-left: 1px solid var(--dark);
    flex-basis: 25%;
    text-align: center;
    line-height: 50px;
}
.mode-set .mode-checkbox {border-left: 1px solid var(--green);}
.tooltip {
    position: absolute;
    z-index: 1;
    display: none;
    color: white;
    background-color: var(--dark);
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    bottom: 115%;
    pointer-events: none;
}
.tooltip-common {
    width: 200px;
}
.question {
    position: relative;
    text-decoration-line: underline;
    cursor: help;
}
.mode-block:hover .tooltip, .question:hover .tooltip {
    display: block;
}


/* ----------------------------------------------------------------------------------- */

.users-online {
    padding: 10px 10px;
    text-align: center;
    color: var(--green);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background:
    radial-gradient(var(--dark) 15%, transparent 17%) 0 0,
    radial-gradient(var(--dark) 15%, transparent 17%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: var(--grey);
    background-size: 16px 16px;

    font-family: monospace;
    color: white;
    font-size: 19px;
    line-height: 24px;
    font-style: italic;

    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5) inset, -4px -4px 10px 2px rgba(0, 0, 0, 0.5) inset;
}
#modal-notification {

}

.auth {
    width: 320px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-signup, .form-login, .form-verify, .form-request-verify, .form-forgot-password, .form-reset-password, form-game-creation {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    width: 300px;
    justify-content: center;
    margin: 40px auto;
}

.form-game-join input[type=text] {
    height: 50px;
}

.btn-signup, .btn-login, .btn-verify, .btn-forgot-password, .btn-reset-password {
    width: 100%;
}

.logout {
    /*display: none;*/
    /*margin-bottom: 15px;*/
}

.request-verify {
    display: none;
    width: 100%;
}

.forgot-password {
    width: 100%;
}

.btn-top {
    margin-top: 16px;
}

.btn-myStat {
    display: none;
    width: 90px;
    margin-top: 16px;
}

.modal-top, .modal-myStat {
    width: 520px;
}

.wrapper-top-title {
    display: grid;
    margin: 0 0 0 20px;
    grid-template-columns: 60px 200px 60px 60px 60px;
    grid-template-rows: 40px;
}

.wrapper-top {
    display: grid;
    margin: 0 0 0 20px;
    grid-template-columns: 60px 200px 60px 60px 60px;
    grid-template-rows: repeat(10, 40px);
}

.wrapper-myStat {
    display: grid;
    margin: 0 0 0 20px;
    grid-template-columns: 60px 200px 60px 60px 60px;
    grid-template-rows: repeat(2, 40px);
}

.column {
    border: 1px solid silver;
    text-align: center;
    font-size: 22px;
}

/* ----------------------------------------------------------------------------------------- */

.lds-grid {
  display: none;
  position: relative;
  align-self: center;
  width: 200px;
  aspect-ratio: 1 / 1;
}
.lds-grid div {
  position: absolute;
  width: 25%;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
  border-radius: 50%;
  background: var(--dark);
  animation: lds-grid 1.6s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: -0.4s;
  border: 1px solid var(--dark);
  background: white;
}
.lds-grid div:nth-child(2) {
  top: 10%;
  left: 40%;
  animation-delay: 0s;
  border: 1px solid var(--dark);
  background: white;
}
.lds-grid div:nth-child(3) {
  top: 10%;
  left: 70%;
  animation-delay: -0.2s;
}
.lds-grid div:nth-child(4) {
  top: 40%;
  left: 10%;
  animation-delay: -1s;
}
.lds-grid div:nth-child(5) {
  top: 40%;
  left: 40%;
  animation-delay: -1.4s;
}
.lds-grid div:nth-child(6) {
  top: 40%;
  left: 70%;
  animation-delay: -0.8s;
  border: 1px solid var(--dark);
  background: white;
}
.lds-grid div:nth-child(7) {
  top: 70%;
  left: 10%;
  animation-delay: -0.6s;
}
.lds-grid div:nth-child(8) {
  top: 70%;
  left: 40%;
  animation-delay: -1.2s;
  border: 1px solid var(--dark);
  background: white;
}
.lds-grid div:nth-child(9) {
  top: 70%;
  left: 70%;
  animation-delay: 0s;
  border: 1px solid var(--dark);
  background: white;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

::selection {
  color: white;
  background: var(--dark);
}
