<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <title>Renju</title>
</head>
<body>

<div id="common-data"
     data-host="{{ app_host }}"
     data-remotehost="{{ remote_host }}"
     data-port="{{ app_port }}"
     style="display: none;"></div>

<div id="main" class="container">
  <div id="mainscreen-not-logged" class="screen screen-main">
    <div class=""><h1>Renju v1.0</h1></div>
    <div class="section">
      <button type="button" class="btn btn-large login">Login</button>
      <button type="button" class="btn btn-large signup">Signup</button>
    </div>
  </div>
  <div id="mainscreen-logged" class="screen screen-main">
    <div class=""><h1>Renju v1.0</h1></div>
    <div class="section">
      <button type="button" class="btn btn-large">Hi, <span class="span-username"></span>!</button>
      <button type="button" class="btn btn-large logout">Logout</button>
    </div>
    <div class="section">
      <button type="button" class="btn btn-large btn-create-game">Create</button>
      <button type="button" class="btn btn-large btn-join-game">Join</button>
      <button type="button" class="btn btn-large btn-my-stats">Statistics</button>
    </div>
  </div>
  <div id="game-creation" class="screen screen-game-creation">
    <div class="section">
      <div class="section section-vert"><button type="button" class="btn btn-icon btn-home">X</button></div>
    </div>
    <div class="section">
      <div class="section section-vert" id="mode-list">
        <h2>Modes</h2>
        <div id="modes-loader" class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
      <div class="section section-vert">
        <h2>Current rules</h2>
        <div id="rules-loader" class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <ul id="rule-list">
        </ul>
      </div>
    </div>
    <div class="section">
      <form class="form-game-creation">
        <div class="">
          <input type="checkbox" name="is_private" id="game-is-private">
          <label for="game-is-private"> Is Private</label>
        </div>
        <div class="">
          <button type="submit" class="btn btn-large">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="game" class="container-game" style="display: none;">
  <div class="item">
    <button class="btn login">Login</button>
    <button class="btn signup">Signup</button>
    <button class="btn logout">Logout</button>
    <span class="span-username"></span>
  </div>
  <div class="item-title"><h1>Renju</h1></div>
  <div class="item"><p id="online" class="users-online"></p></div>

  <div>
    <button type="submit" class="btn btn-top">Top 10</button>
    <button type="submit" class="btn btn-myStat">My stat</button>
  </div>
  <h4>New game</h4>
  <button id="create-game" class="btn">Create</button>
  <div></div>

  <div class="item"></div>
  <div class="game-list-title">
    <h4 class="item-h4">List games</h4>
  </div>
  <div class="item"></div>

  <div></div>
  <div class="container-list-game">
    <ul id="gameList"></ul>
  </div>
  <div></div>
</div>

<h4 id="player" class="game-off"></h4>

<div id="modal-signup" class="modal modal-signup">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-signup">
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
<!--      <input type="password" name="password2" placeholder="Repeat password" required>-->
      <button type="submit" class="btn btn-signup">Signup</button>
    </form>
  </div>
</div>

<div id="modal-login" class="modal modal-login">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-login">
      <input type="text" name="username" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn btn-login">Login</button>
      <button type="button" class="btn forgot-password">Forgot password?</button>
      <button type="button" class="btn request-verify">Verify</button>
    </form>
  </div>
</div>

<div id="modal-request-verify" class="modal modal-verify">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-request-verify">
      <input type="text" name="email" placeholder="Email" required>
      <button type="submit" class="btn btn-verify">Get token</button>
    </form>
  </div>
</div>

<div id="modal-verify" class="modal modal-verify">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <div>We have sent you a token to the specified email.</div>
    <form class="form-verify">
      <input type="text" name="token" placeholder="Token" required>
      <button type="submit" class="btn btn-verify">Verify</button>
    </form>
  </div>
</div>

<div id="modal-forgot-password" class="modal modal-verify">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-forgot-password">
      <input type="text" name="email" placeholder="Email" required>
      <button type="submit" class="btn btn-forgot-password">Get token</button>
    </form>
  </div>
</div>

<div id="modal-reset-password" class="modal modal-verify">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <div>We have sent you a token to the specified email.</div>
    <form class="form-reset-password">
      <input type="text" name="token" placeholder="Token" required>
      <input type="password" name="password" placeholder="New password" required>
      <button type="submit" class="btn btn-reset-password">Reset</button>
    </form>
  </div>
</div>

<div id="modal-top" class="modal">
  <div class="modal-content modal-top">
    <span class="close close-top">&times;</span>
    <div class="wrapper-top-title">
      <div class="column">Num</div>
      <div class="column">User name</div>
      <div class="column">Win</div>
      <div class="column">Lose</div>
      <div class="column">Draw</div>
    </div>
    <div class="wrapper-top">
    </div>
  </div>
</div>


<div id="modal-myStat" class="modal">
  <div class="modal-content modal-myStat">
    <span class="close close-myStat">&times;</span>
    <div class="wrapper-myStat">
      <div class="column">Num</div>
      <div class="column">User name</div>
      <div class="column">Win</div>
      <div class="column">Lose</div>
      <div class="column">Draw</div>
      <div class="column"></div>
      <div class="column column-username"></div>
      <div class="column column-win"></div>
      <div class="column column-lose"></div>
      <div class="column column-draw"></div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', path='/js/main.js') }}"></script>
<script src="{{ url_for('static', path='/js/auth.js') }}"></script>
<script src="{{ url_for('static', path='/js/game_creation.js') }}"></script>
<!--<script src="{{ url_for('static', path='/js/game.js') }}"></script>-->

</body>
</html>